<button class="btn btn-default" type="button" data-toggle="collapse" data-target=".advanced-options">Advanced Options</button>

<div class="collapse advanced-options">
<div class="well">
  <h5>Clock</h5>
  <%= render partial: 'clock', locals: {now: now, date_start: date_start, date_end: date_end} %>

  <h5>General</h5>
  <%= render partial: 'time_zone' %>
  <%= render partial: 'frequency' %>
  <%= render partial: 'duration' %>

  <h5>Common</h5>
  <%= render partial: 'user_id' %>
  <%= render partial: 'device_type' %>
  <%= render partial: 'channel' %>

  <h5>SearchLog</h5>
  <%= render partial: 'ego_surfing' %>
  <%= render partial: 'action' %>

  <h5>BackgroundSearchLog</h5>
  <%= render partial: 'status' %>
  <%= render partial: 'auto' %>

  <h5>SignInLog</h5>
  <%= render partial: 'context' %>
</div>
</div>