<%= render partial: 'kpi_admin/common/selector' %>

<div class="row">
  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu"></div>
    <div><%= link_to('PV / UU', pv_uu_path, class: 'btn btn-default btn-lg') %></div>
  </div>

  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num"></div>
    <div><%= link_to('Search num', search_num_path, class: 'btn btn-default btn-lg') %></div>
  </div>

  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis sign_in_num"></div>
    <div><%= link_to('Sign in', sign_in_path, class: 'btn btn-default btn-lg') %></div>
  </div>

  <div class="col-xs-12">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis new_user"></div>
    <div><%= link_to('New user', pv_uu_path, class: 'btn btn-default btn-lg') %></div>
  </div>

  <div class="col-xs-12">
    <div><%= link_to('RR', rr_path, class: 'btn btn-default btn-lg') %></div>
    <div><%= link_to('Table', table_path, class: 'btn btn-default btn-lg') %></div>
  </div>
</div>


<script>
  function reload() {
    $('.loading').show();
    $('.kpis').empty();
    $.each(charts, function (_, chart) {
      chart.destroy();
    });
    charts = {};

    var url = "<%= pv_uu_path %>";
    fetch(url, 'uu')
        .then(function(){return fetch(url, 'search_num')})
        .then(function(){return fetch(url, 'new_user')})
        .then(function(){return fetch(url, 'sign_in_num')});
  }

  $(function () {
    after_load();
    reload();
  });
</script>
