<%= render partial: 'kpi_admin/common/selector' %>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default btn-lg') %></div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv"></div>
  </div>

  <div class="col-xs-12"><h3>Per action</h3></div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_action"></div>
  </div>

  <div class="col-xs-12"><h3>Per device_type</h3></div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_device_type"></div>
  </div>

  <div class="col-xs-12"><h3>Per unified_referer</h3></div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_unified_referer"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_unified_referer"></div>
  </div>

  <div class="col-xs-12"><h3>Per unified_channel</h3></div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis uu_per_unified_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis pv_per_unified_channel"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default btn-lg') %></div>

<script>
  function reload() {
    before_reload();

    var url = "<%= one_path %>";
    var types = [
      'uu',
      'pv',
      'uu_per_device_type',
      'pv_per_device_type',
      'uu_per_unified_referer',
      'pv_per_unified_referer',
      'uu_per_unified_channel',
      'pv_per_unified_channel'
    ];
    var types_stacked = [
      'uu_per_action',
      'pv_per_action'
    ];

    $.Deferred().resolve()
        .then(function(){return fetch(url, types[0])})
        .then(function(){return fetch(url, types[1])})
        .then(function(){return fetch(url, types_stacked[0], true)})
        .then(function(){return fetch(url, types_stacked[1], true)})
        .then(function(){return fetch(url, types[2])})
        .then(function(){return fetch(url, types[3])})
        .then(function(){return fetch(url, types[4])})
        .then(function(){return fetch(url, types[5])})
        .then(function(){return fetch(url, types[6])})
        .then(function(){return fetch(url, types[7])});
  }

  $(function () {
    after_load();
    reload();
  });
</script>
