<%= render partial: 'selector' %>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default btn-lg') %></div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_uu"></div>
  </div>

  <div class="col-xs-12"><h3>Per action</h3></div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_uu_per_action"></div>
  </div>

  <div class="col-xs-12"><h3>Per device_type</h3></div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_uu_per_device_type"></div>
  </div>

  <div class="col-xs-12"><h3>Per channel</h3></div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_uu_per_channel"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default btn-lg') %></div>

<script>
  function reload() {
    $('.loading').show();
    $('.kpis').empty();
    $.each(charts, function (_, chart) {
      chart.destroy();
    });
    charts = {};

    var url = "<%= two_path %>";
    var types = [
      'search_uu',
      'search_num',
      'search_num_per_uu',
      'search_uu_per_action',
      'search_num_per_action',
      'search_num_per_uu_per_action',
      'search_uu_per_device_type',
      'search_num_per_device_type',
      'search_num_per_uu_per_device_type',
      'search_uu_per_channel',
      'search_num_per_channel',
      'search_num_per_uu_per_channel'
    ];
    fetch(url, types[0])
        .then(function(){return fetch(url, types[1])})
        .then(function(){return fetch(url, types[2])})
        .then(function(){return fetch(url, types[3])})
        .then(function(){return fetch(url, types[4])})
        .then(function(){return fetch(url, types[5])})
        .then(function(){return fetch(url, types[6])})
        .then(function(){return fetch(url, types[7])})
        .then(function(){return fetch(url, types[8])})
        .then(function(){return fetch(url, types[9])})
        .then(function(){return fetch(url, types[10])})
        .then(function(){return fetch(url, types[11])});
  }

  $(function () {
    after_load();
    reload();
  });
</script>
