<%= render partial: 'selector' %>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default') %></div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif') %>
    <div class="kpis search_uu"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate"></div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_action"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate_per_action"></div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_uu_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_device_type"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate_per_device_type"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_per_channel"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_rate_per_channel"></div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis search_num_by_google"></div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= image_tag asset_path('kpi_admin/ajax-loader.gif'), class: 'loading' %>
    <div class="kpis xxx"></div>
  </div>
</div>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default') %></div>

<script>
  function reload() {
    $('.loading').show();
    $('.kpis').empty();
    charts = {};

    var url = "<%= two_path %>";
    var types = [
      'search_uu',
      'search_num',
      'search_rate',
      'search_uu_per_action',
      'search_rate_per_action',
      'search_uu_per_device_type',
      'search_rate_per_device_type'
    ];
    var types_statkcd = [
      'search_num_per_action',
      'search_num_per_device_type',
      'search_num_per_channel',
      'search_num_by_google'
    ];
    fetch(url, types[0])
        .then(function(){return fetch(url, types[1])})
        .then(function(){return fetch(url, types[2])})
        .then(function(){return fetch(url, types[3])})
        .then(function(){return fetch(url, types[4])})
        .then(function(){return fetch(url, types[5])})
        .then(function(){return fetch(url, types[6])})
        .then(function(){return fetch(url, types_statkcd[0], true)})
        .then(function(){return fetch(url, types_statkcd[1], true)})
        .then(function(){return fetch(url, types_statkcd[2], true)})
        .then(function(){return fetch(url, types_statkcd[3], true)});
  }

  $(function () {
    after_load();
    reload();
  });
</script>
